MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=airline_ops
MYSQL_USER=airline_user
MYSQL_PASSWORD=airline_password

POSTGRES_DB=aerostream
POSTGRES_USER=aerostream_user
POSTGRES_PASSWORD=aerostream_password

MONGO_DB=aerostream_config

KAFKA_BOOTSTRAP_SERVERS=kafka:29092
SCHEMA_REGISTRY_URL=http://schema-registry:8081

# Gateway API key (simple security)
API_KEY=change_me_to_a_long_random_key
