POSTGRES_DB=aerostream
POSTGRES_USER=aerostream
POSTGRES_PASSWORD=aerostream

MONGO_DB=aerostream

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
SCHEMA_REGISTRY_URL=http://schema-registry:8081

# Gateway API key (simple security)
API_KEY=change_me_to_a_long_random_key
